<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comment Board</title>
    <link rel="stylesheet" href="/app.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap"
        rel="stylesheet">
</head>

<body>

    <div class="top">

        <h1 class="main-head">Simon Cheek</h1>

        <h3 class="main-head">Full Stack Developer &#x2022; Software Engineer</h3>

    </div>

    <div class="comment-body">
        <p class="score-display">
            <b>Average Score: </b>
            <%= avgScore %> / 5
        </p>
        <% for (let item of comments) { %>

            <div class="comment-wrapper">
                <div class="commentbox">
                    <div class="comment-info">
                        <p><b>Username: </b>
                            <%= item.user %>
                        </p>
                        <p><b>Comment: </b>
                            <%= item.comment %>
                        </p>
                        <p><b>Rating: </b>
                            <% for (let i=0; i<item.rating; i++) { %>
                                <span class="star">&#9733;</span>
                                <% } %>
                        </p>
                    </div>

                    <div class="modify-comments">
                        <a href="/comment/<%= item._id %>"><button class="btn btn-green">Modify</button></a>
                        <form method="POST" action="/comment/<%= item._id %>?_method=DELETE">
                            <button class="btn btn-red">Delete</button>
                        </form>
                    </div>
                </div>
            </div>

            <% } %>
    </div>

    <div class="below">
        <a href="/new"><button class="btn btn-green"> Create a new Comment!</button></a>
    </div>

</body>

</html>



<!-- make partials folder within views -->