<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comment Board</title>
    <link rel="stylesheet" href="/app.css">
</head>

<body>

    <h1 class="main-head">Welcome to Simon's Comment Board!</h1>

    <div>
        <% for (let item of comments) { %>

            <div class="comment-wrapper">
                <div class="commentbox">
                    <div class="comment-info">
                        <p><b>Username:</b>
                            <%= item.user %>
                        </p>
                        <p><b>Comment:</b>
                            <%= item.comment %>
                        </p>
                        <p><b>Rating:</b>
                            <% for (let i=0; i<item.rating; i++) { %>
                                <span class="star">&#9733;</span>
                                <% } %>
                        </p>
                    </div>

                    <div class="modify-comments">
                        <a href="/comment/<%= item._id %>"><button class="btn btn-blue">Modify</button></a>
                        <form method="POST" action="/comment/<%= item._id %>?_method=DELETE">
                            <button class="btn btn-red">Delete</button>
                        </form>
                    </div>
                </div>
            </div>

            <% } %>
    </div>

    <div class="below">
        <p class="score-display">
            <b>Average Score:</b>
            <%= avgScore %> / 5
        </p>
        <a href="/new"><button class="btn"> Create a new Comment!</button></a>
    </div>

</body>

</html>



<!-- make partials folder within views -->